<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Inventory</title>
    <link rel="stylesheet" href="../../assets/css/main/app.css">
    <link rel="stylesheet" href="../../assets/css/pages/auth.css">
    <link rel="shortcut icon" href="../../assets/images/logo/logoinvent.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../assets/images/logo/logoinvent.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        

    </style>

</head>

<body>
    <div id="auth" style="max-height: 100vh; overflow: hidden;">
        
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left" style="margin-top: -35px;">
                    <div class="auth-logo flex">
                        <a href="login.html"><img src="../../assets/images/logo/logoinvent.png" alt="Logo"></a>
                        <h1 class="ml-3 mt-[1px] text-[25px] font-semibold">-</h1>
                    </div>
                    <div class="content-title">
                        <h1 class="title auth-title font-bold"><span class="auto-type"></span></h1>
                    </div>
                    <p class="auth-subtitle mb-2">Login dengan data Anda yang sudah terdaftaran.</p>

                    <form action="index.html">
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" class="form-control form-control-md" placeholder="Username">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-md" placeholder="Password">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                                <button>
                                    <i class="bi bi-eye ml-[235px]"></i>
                                </button>
                                <!-- <i class="bi bi-eye-slash"></i> -->
                            </div>
                        </div>
                        <div class="form-check form-check-md d-flex align-items-end mb-[30px]">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-gray-600" for="flexCheckDefault">
                                Simpan kata sandi
                            </label>
                        </div>
                        <a href="dashbor.html" class="btn-login text-[16px] hover:bg-blue-900 hover:text-gray-600 shadow-lg py-2 px-[25%] bg-slate-50 shadow-xl rounded-lg hover:shadow-lg bg-blue-500 text-white transition duration-300 ease-in-out font-semibold">Log in</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block" style="background-image: url(../../assets/images/bg/flat.SVG); background-size: cover; background-repeat: no-repeat;">
                <div id="auth-right.">

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
        var typed = new Typed(".auto-type", {
            strings: ["Log", "In", "Log In."],
            typeSpeed: 150,
            backSpeed: 150,
            loop: true
        })
    </script>
</body>

</html>
